@font-face {
  font-family: 'FooFan';
  src:
    url('../fonts/boxer-script-jf.woff2') format('woff2'),
    url('../fonts/boxer-script-jf.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
